@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    overflow-x: hidden;
    color: #fff;
    font-family: "Flamenco", cursive;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}
.clearfix:after{
    content: ".";
    visibility: hidden;
    display:block;
    height: 0px;
    clear: both;
}
.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.head-row{
    max-width: 1180px;
    margin: 0 auto;
}
.list{
    float: right;
    margin-top: 60px;
}
.head-row li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.head-row li a{
    padding: 5px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
}
.head-row li a:hover{
    border-bottom: 2px solid #d975c5;
}
.main-content{
    width: 1180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    color: #fff;
    font-size: 240%;
    word-spacing: 5px;
    latter-spacing:3px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: lighter;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, boredr 0.2s, color 0.2s;
}
.btn1{
    background-color: transparent;
    color:#d975c5;
    margin-right: 15px;
    border: 1px solid #d975c5;
}
.btn1:hover{
    background-color: #fff;
}
.btn2{
    background-color: transparent;
    color:#fff;
    margin-right: 15px;
    border: 1px solid #fff;
}
.btn2:hover{
    background-color:#d975c5 ;
}
.icon{
   display: none;
}
.change{
    animation: changebistro 3s infinite;
}
.copyrightText{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.copyrightText p{
    color: #333;
}
.copyrightText a{
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}
@keyframes changebistro{
    0%{color: teal;}
    25%{color:purple;}
    50%{color: white;}
    100%{color: purple;}
}

/*///////////RESPONSIVE PAGE///////////*/
@media only screen and (max-width:1180px){
    .main-content{
        width:100%;
        padding: 0 2%;
    }
}
@media only screen and (max-width:990px){
    h1{
        font-size: 200%;
    }
}
@media only screen and (max-width:768px){
    h1{
        font-size: 120%;
        }
        .list{
            display: none;
        }
        .icon{
            display: inline-block;
            color: #fff;
            float: right;
            margin-top: 40px;
            margin-right: 20px;
        }
        .list{
            float: left;
        }
        .list li{
            
            display: block;
            margin-top: 5px;
            margin-left: 300px;
        }
}
@media only screen and (max-width:658px){
    h1{
        font-size: 120%;
        }
        .list{
            display: none;
        }
        .icon{
            display: inline-block;
            color: #fff;
            float: right;
            margin-top: 40px;
            margin-right: 20px;
        }
        .list{
            float: left;
        }
        .list li{
            
            display: block;
            margin-top: 5px;
            margin-left: 200px;
        }
}

@media only screen and (max-width:550px)
{
    h1{
        margin-top: 100px;
        font-size: 120%;
    }

    .btn{
        display: block;
        margin-bottom: 20px;
        max-width: 50%;

    }
}